<div class="middle-box">
  <div class="table-inner-middle-box">
    <h1>All Possible Rewards</h1><br>
    <h3>Your points available to redeem: <%= current_user.total_points %></h3>
    <% @rewards.each do |reward| %>
    <table>
      <tr>
        <td><%= link_to reward.title, reward_path(reward) %></td>
        <td><%= reward.description %></td>
        <td>Price: <%= reward.cost %></td>
    <% end %>

  </div>

</div>
