/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #2EC4B6;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}
.topnav {
  background-color: #011627;
  color: #FF9F1C;
  width: 95vw;
  height: 150px;
  margin-bottom: 15px;
  border: 10px solid #FDFFFC;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.inner-top-nav {
  display: flex;
  flex-direction: column;
  width: 250px;

}
.banner {
  display: flex;
  width: 33vw;
  font-size: 30px;
  padding-top: 0px;
  font-weight: bold;
}

.center {
  width: 33vw;
  display: flex;
  justify-content: center;

}

.right-side {
  display: flex;
  flex-direction: row;
  width: 33vw;
  justify-content: right
}

.middle-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inner-middle-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  width: 50vw;
  border: 5px solid #011627;
  background-color: #FDFFFC;
  color: #011627;
  padding: 15px
}

.inner-middle-box a:hover {
  color: #E71D36;
}

.alt-inner-middle-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 20px;
  padding-bottom:20px;
  flex-wrap: nowrap;
  width: 75vw;
  border: 5px solid #011627;
  background-color: #FDFFFC;
  color: #011627;
}



.table-inner-middle-box {
  margin-left: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border: 5px solid #011627;
  background-color: #FDFFFC;
  color: #011627;
}

.right-side p {
  display: inline-block;
  padding-right: 10px;
}

.topnav a {
color: #FF9F1C;
text-align: center;
padding-top: 25px;
padding-left: 10px;
}

.topnav a:hover {
color: #E71D36;
}

.inner-middle-box a:hover {
  color: #E71D36;
}

.float_right {
float: right;
padding-right: 5px;
}
